.item {
  white-space: nowrap;
  color: white;
  padding: 5px 12px;
  display: block;
  border-color: transparent;
  transition: 0.1s linear;
  border-bottom: solid 3px transparent;

  &:hover {
    background-color: gray;
    border-bottom: solid 3px #8b00ff;
  }
}

.item.active {
  color: gold;
}
