.categoriesContent {
  border: 1.5px solid white;
  border-radius: 20px;
  width: 80%;
  padding: 18px 24px;
  margin-bottom: 30px;
  color: white;

  .title {
    padding: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
  }

  .blockcards {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .card {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
      align-items: center;
      flex-wrap: nowrap;
      border-style: solid;
      border-width: 2px 2px 4px;
      border-radius: 10px;
      border-color: white;
      transition: 0.1s linear;

      &:hover {
        border-color: #8b00ff;
      }

      .icon {
        width: 80px;
        height: 96px;
        object-fit: contain;
      }

      .description {
        text-align: center;
      }
    }
  }
}
