.modal {
  position: absolute;
  top: 0;
  padding: 10px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  overflow: hidden;
  z-index: 999;

  .modalContent {
    position: fixed;
    padding: 20px;
    color: blue;
    height: 30vh;
    width: 30vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-bottom: solid 3px white;
    transition: 0.5s;
  }
}
