.categoriesContent {
  border: 1.5px solid white;
  border-radius: 20px;
  width: 80%;
  padding: 18px 24px;

  .title {
    padding: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
  }

  .blockcards {
    display: flex;
    justify-content: space-evenly;
  }
}
