.list_results {
  background-color: gray;
  position: absolute;
  width: 100%;
  border-color: transparent;
  transition: 0.1s linear;
  border-bottom: solid 3px transparent;
  border-radius: 20px;
  padding: 10px;
}
