.modal {
  display: none;
}

.active {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(163, 27, 226, 0.64);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 1;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: $w;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 50vw;
}

.modalContent {
  background: $bg;
  background: #282a36;
  padding: 100px;
  border-radius: 20px;
}
