@import "src/styles/mixin";

.main {
  width: 100%;
  background: $bg;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  box-sizing: border-box;
  align-items: center;

  .logo {
    @include fonts("Roboto", 30px, $w);
    text-decoration: none;
    padding-top: 7px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.menu {
  display: flex;
  padding: 0;
  list-style: none;
}

.buttons {
  @include fonts("Roboto", 20px, $w);
  cursor: pointer;
  margin-right: 30px;

  &:hover {
    color: $purple;
  }
}

.item {
  position: relative;
  padding: 5px 0;
}

.menuSub {
  position: absolute;
  flex-direction: column;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background-color: $bg;
  padding: 10px;
}

.menuSub .item {
  white-space: nowrap;
}

.menuRoot .item {
  margin-right: 30px;
}

.item:hover > .menuSub {
  max-height: 5000px;
  visibility: visible;
  opacity: 1;
}

a {
  @include fonts("Roboto", 20px, $w);
  text-decoration: none;

  &:hover {
    color: $purple;
  }
}
