.footer__box {
  position: fixed;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.games__box {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.games__box li {
  border: 4px solid transparent;
  padding: 3px;
}

.games__box li:hover {
  opacity: 0.5;
}

.img__box {
  height: 48px;
  width: 48px;
}

.img__box img {
  width: 100%;
  height: 100%;
  padding: 3px;
  object-fit: cover;
}

.img__box img:focus {
  outline: 2px dashed rgb(250, 243, 243);
  padding: 3px;
}
