@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5vAw.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meKCM.ttf) format("truetype");
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #282a36;
}

footer a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #800080;
  margin: 20px 0 0 38px;
}

footer .iconBlock {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

footer .iconBlock li {
  list-style: none;
}

footer .iconBlock li img {
  text-decoration: none;
  width: 90px;
  height: 50px;
}
